/*Extra small device*/
@media(max-width:575.98px){
    .navbar-brand img {
        width: 150px;;
    }
    .navbar img {
        margin-top: 0px;
    }
    .navbar-toggler i {
        color: #fff;
        font-size: 22px
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-nav {
        background-color: #262941;
        text-align: center;
        margin-top: 10px;
    }
    .navbar ul li {
        margin: 30px 0;
    }
    .banner-item h2 {
        font-size: 27px;
        padding-top: 0px;
    }
    .banner-item p {
        font-size: 15px;
        padding: 0 15px;
        padding-top: 20px;
        padding-bottom: 90px;
    }
    .ft-text p {
        padding-bottom: 50px;
    }
    .pdr {
        padding: 0!important;
    }
    .team-icon a img {
        margin-bottom: 25px;
    }
    .t-text p {
        font-size: 25px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .t-text h3 {
        font-size: 12px;
        padding-left: 0;
        text-align: center;
    }
}
/*Small device*/
@media(min-width:576px) and (max-width:767.98px){
    .navbar-toggler i {
        color: #fff;
        font-size: 22px
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-nav {
        background-color: #262941;
        text-align: center;
        margin-top: 10px;
    }
    .navbar ul li {
        margin: 30px 0;
    }
    .banner-item h2 {
        font-size: 27px;
        padding-top: 0px;
    }
    .banner-item p {
        font-size: 15px;
        padding: 0 15px;
        padding-top: 20px;
        padding-bottom: 90px;
    }
    .pdr {
        padding: 0!important;
    }
    .team-icon a img {
        margin-bottom: 25px;
    }
    .t-text p {
        font-size: 25px;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .t-text h3 {
        font-size: 12px;
        padding-left: 0;
        text-align: center;
    }
}
/*Medium device*/
@media(min-width:768px) and (max-width:991.98px){
    .navbar-toggler i {
        color: #fff;
        font-size: 22px
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-nav {
        background-color: #262941;
        text-align: center;
        margin-top: 10px;
    }
    .navbar ul li {
        margin: 30px 0;
    }
    .banner-item h2 {
        font-size: 27px;
        padding-top: 0px;
    }
    .banner-item p {
        font-size: 15px;
        padding: 0 15px;
        padding-top: 20px;
        padding-bottom: 90px;
    }
}
/*Large device*/
@media(min-width:992px) and (max-width:1199.98px){}
/*Extra large device*/
@media(min-width:1200px) and (max-width:1420.98px){}